/*------------------------------------------------------------------
[Master Stylesheet]

Project:	Point : One Page Event and Conference HTML Template
Version:	1.0
Last change:	07/09/14 
Assigned to:	TheWebLab
Primary use:	Event 
-------------------------------------------------------------------*/

@import "reset.css";
@import "layout.css";
@import "font.css";
@import "color.css";


.single_partner img {
    width: 200px;
    height: 100px;
}

.dates, .topics-list {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    text-align: left;
    color: white;
    font-weight: bold;
}

.topics h2 {
    color: #555;
    margin-bottom: 0;
    padding-bottom: 0;
}

.topics h2 span {
    color: #555;
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2em;
    font-size: 0.5em;
}


#hotel h2 span a {
    color: rgb(42, 100, 150);
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2em;
    font-size: 0.5em;
}

.topics-list {
    color: black;
    font-weight: 300;
}

.topics-list li {
    line-height: 22px;
}


.dates span {
    position: relative;
    float: right;
}

.dates a {
    border: 0;
    padding: 0;
    margin: 0;
}

.dates a:hover, .dates a:hover:active {
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    background: #F0652F;
}



h6.dates span {
    width: 100%;
    text-align: left;
}

.navbar-brand img {
    width: 120px;
    vertical-align: text-top;
}

.site_title img {
    width: 300px;
}

.overlay_home p {
    text-align: justify;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
    font-weight: 300;
    max-width: 700px;
}

.orglist {
    list-style-type: none;
    padding: 0;
}

.orglist li {
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    color: black;
    text-align: left;
}

.orglist li p {
    padding-left: 2em;
    font-weight: 300;
    color: black;
}

.org-committee, .topics, .sponsors, .keynotes {
	padding:30px 0;
}

.org-committee h2, .topics h2, .sponsors h2 {
	text-transform:uppercase;
}

.copy {
    font-weight: 300;
    color: white;
}

.single_partner {
    width: 210px;
}

.keynote_pic img {
    width: 150px;
}

.keynotes h2{
	text-transform:uppercase;
}

.keynotes div p {
    font-family: "helvetica neue", helvetica, sans-serif;
    font-weight: 300;
    text-align: justify;
    height: auto;
}

.keynotes div p a {
    color: firebrick;
    text-decoration: underline;
}

.sponsors {
    height: auto;
}